---
pagination:
    data: v1
    size: 1
    alias: variante
permalink: "/toutes-formations-{{ variante.variante | slugify }}.html"
layout: "templates/v1-flex.njk"
title: "Toutes nos formations | Formation Sup'"
---