---
pagination:
    data: v1
    size: 1
    alias: variante
permalink: "/massy-{{ variante.variante | slugify }}.html"
layout: "templates/v1-flex.njk"
ville: "Massy"
phone: "09 50 54 09 20"
address: "4, Allée Marcel Cerdan 91300 Massy"
gmap_url: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10526.822272394305!2d2.2887417!3d48.7302174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e677c47063047b%3A0xd8440facf734c2fc!2sCentre%20Laselis%20Massy%20-%20M%C3%A9decine%20Esth%C3%A9tique%20-%20Epilation%20Laser!5e0!3m2!1sfr!2sro!4v1694007580039!5m2!1sfr!2sro"
gmap_link: "https://goo.gl/maps/p2YfqSgpLnZ3bRci7"
calendly_url: "https://calendly.com/centrelaselis/massy"
label_conv_tel: "ulC8CNr75NwYEMXGu5cq"
title: "Épilation définitive Laser à Massy | Laselis"
---