---
permalink: "lead-ok.html"
title: "Votre demande a été reçue"
layout: base.njk
index: false
---

{% include "engine/tracking/tracking_leads.njk" %}

{% include "engine/blocks/nav/nav_1.njk" %}

<section class="align-center">
    <h1>Votre demande est enregistrée</h1>
    <p style="text-align:center">Un e-mail récapitulatif va vous être envoyé et un conseiller va vous appeler.</p>
</section>